{% extends "base.html" %}
{% block title %}
Index
{% endblock title %}
{% block table %}
principal
{% endblock table %}
{% block content %}
<script>
   var latitudes = [];
   var longitudes = [];
</script>
<div class="p-3 my-3 rounded shadow-sm row">

   <div id="map" style="height:500px; background-color: grey;" class="col-md-8 col-sm-12"></div>
   <div class="col-md-4 col-sm-12">
      <div class="list-group" aria-labelledby="">
         <a class="list-group-item " href="/catalogo_calles">Abrir Formulario de calles</a>
         <a class="list-group-item" href="/catalogo_lamparas">Abrir Formulario de Lamparas</a>
         <a class="list-group-item" href="/catalogo_luminarias">Abrir Formulario de Luminarias</a>
         <a class="list-group-item" href="/catalogo_soportes">Abrir Formulario de Soportes</a>
         <a class="list-group-item" href="/via_publicas">Abrir Formulario de Via Publica</a>
         <a class="list-group-item" href="/punto_luzs">Abrir Formulario de Punto de luz</a>
         <a class="list-group-item" href="/equipos_medidas">Abrir Formulario de Equipos de Medida</a>
         <a class="list-group-item" href="/cuadro_mandos">Abrir Formulario de Cuadro de Mando</a>
         <a class="list-group-item" href="/barrio_pedanias">Abrir Formulario de Barrios Pedania</a>
      </div>
   </div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
   <h6 class="border-bottom border-gray pb-2 mb-0">Puntos de Luz Instalados Recientemente</h6>
   <!-- ====================== -->
   {% if puntos_luz %}
   {% for item in puntos_luz %}
   <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
         <strong class="d-block text-gray-dark">{{ item.implanterenovacion }}</strong>
         Ubicado en Barrio : {{item.codigobarrio }} - la Calle : {{item.codigocalle}} (latitud: {{item.lat}} longitud:
         {{item.lng}})</p>
      <script>
         latitudes.push('{{ item.lat }}');
         longitudes.push('{{item.lng}}');
      </script>
   </div>
   {% endfor %}
   {% else %}
   <p>Registro Vacio.</p>
   {% endif %}
   <!-- ================ -->

</div>
{% block footer %}
    <footer>
        <div class="container">
          <div class="row well ml-t">
            <div class="col-lg-8 col-md-8">
              <h4>Desarrollado por: <a href="" target="_blank">Wilver Vargas</a></h4>
            </div>
          </div>
        </div>
      </footer>
    {% endblock footer %}
<script>
   function initMap() {
      var uluru = { lat: -19.0372347, lng: -65.2314347 }
      var map = new google.maps.Map(document.getElementById('map'),
         {
            center: uluru,
            zoom: 13
         });

      var lugar = {};
      for (let i = 0; i < longitudes.length; i++) {
         var la = latitudes[i].replace(',', '.') * 1;
         var ln = longitudes[i].replace(',', '.') * 1;
         lugar = { lat: la, lng: ln };
         // console.log(lugar);
         var marker = new google.maps.Marker({ position: lugar, map: map });
      }
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd2kayuEH8A0FPKJl6vvIDsTSiXsMp9mc&callback=initMap"
   async defer></script>

{% endblock %}