{% extends "a_publico/barrio_pedania_base.html" %}

{% block title %}
    BarrioPedanias
{% endblock %}

{% block content %}
    <h1>BarrioPedanias</h1>
    <h2><a href={% url "a_publico:barrio_pedania_create" %}>Create new BarrioPedania</a></h2>
    <ul>
    {% for barrio_pedania in barrio_pedania_list %}
        <li><a href={% url "a_publico:barrio_pedania_detail" barrio_pedania.pk %}>{{ barrio_pedania }}</a> | <a href={% url "a_publico:barrio_pedania_update" barrio_pedania.pk %}>Update</a> | <form style="display:inline;" action={% url "a_publico:barrio_pedania_delete" barrio_pedania.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ barrio_pedania }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No BarrioPedanias yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

