{% extends "a_publico/catalogo_soporte_base.html" %}

{% block title %}
    {{ catalogo_soporte }}
{% endblock %}

{% block content %}
    <h1><a href={% url "a_publico:catalogo_soporte_list" %}>CatalogoSoporte</a></h1>
    <h2>{{ catalogo_soporte }} | <a href={% url "a_publico:catalogo_soporte_update" catalogo_soporte.pk %}>Actualizar</a> | 
    <form style="display:inline;" action={% url "a_publico:catalogo_soporte_delete" catalogo_soporte.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ catalogo_soporte }}?')">{% csrf_token %}
    <input type="submit" value="Eliminar" />
    </form>
    </h2>
{% endblock %}
