{% extends "a_publico/catalogo_luminaria_base.html" %}

{% block title %}
    {{ catalogo_luminaria }}
{% endblock %}

{% block content %}
    <h1><a href={% url "a_publico:catalogo_luminaria_list" %}>CatalogoLuminaria</a></h1>
    <h2>{{ catalogo_luminaria }} | <a href={% url "a_publico:catalogo_luminaria_update" catalogo_luminaria.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "a_publico:catalogo_luminaria_delete" catalogo_luminaria.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ catalogo_luminaria }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
