{% extends "a_publico/catalogo_calle_base.html" %}

{% block title %}
    Update {{ catalogo_calle }}
{% endblock %}

{% block content %}
<h1><a href={% url "a_publico:catalogo_calle_list" %}>CatalogoCalle</a></h1>
<h2>Update {{ catalogo_calle }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-warning" value="Actualizar" />
</form>
<a href={% url "a_publico:catalogo_calle_detail" catalogo_calle.pk %} class="btn btn-primary" >Cancel</a>
<form style="display:inline;" action={% url "a_publico:catalogo_calle_delete" catalogo_calle.pk %} method="post" onsubmit="return confirm('Realmente Deseas Eliminar {{ catalogo_calle }}?')">{% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Eliminar" />
</form>
{% endblock %}
