{% extends "a_publico/catalogo_luminaria_base.html" %}

{% block title %}
    CatalogoLuminarias
{% endblock %}

{% block content %}
    <h1>CatalogoLuminarias</h1>
    <h2><a href={% url "a_publico:catalogo_luminaria_create" %}>Create new CatalogoLuminaria</a></h2>
    <ul>
    {% for catalogo_luminaria in catalogo_luminaria_list %}
        <li><a href={% url "a_publico:catalogo_luminaria_detail" catalogo_luminaria.pk %}>{{ catalogo_luminaria }}</a> | <a href={% url "a_publico:catalogo_luminaria_update" catalogo_luminaria.pk %}>Update</a> | <form style="display:inline;" action={% url "a_publico:catalogo_luminaria_delete" catalogo_luminaria.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ catalogo_luminaria }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No CatalogoLuminarias yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

