{% extends "a_publico/catalogo_lamparas_base.html" %}

{% block title %}
    Update {{ catalogo_lamparas }}
{% endblock %}

{% block content %}
<h1><a href={% url "a_publico:catalogo_lamparas_list" %}>CatalogoLamparas</a></h1>
<h2>Update {{ catalogo_lamparas }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "a_publico:catalogo_lamparas_detail" catalogo_lamparas.pk %}>Cancel</a>
<form style="display:inline;" action={% url "a_publico:catalogo_lamparas_delete" catalogo_lamparas.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ catalogo_lamparas }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
