{% extends "a_publico/catalogo_lampara_base.html" %}

{% block title %}
    CatalogoLamparas
{% endblock %}

{% block content %}
    <h1>CatalogoLamparas</h1>
    <h2><a href={% url "a_publico:catalogo_lampara_create" %}>Create new CatalogoLampara</a></h2>
    <ul>
    {% for catalogo_lampara in catalogo_lampara_list %}
        <li><a href={% url "a_publico:catalogo_lampara_detail" catalogo_lampara.pk %}>{{ catalogo_lampara }}</a> | <a href={% url "a_publico:catalogo_lampara_update" catalogo_lampara.pk %}>Update</a> | <form style="display:inline;" action={% url "a_publico:catalogo_lampara_delete" catalogo_lampara.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ catalogo_lampara }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No CatalogoLamparas yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

