{% extends "a_publico/catalogo_soporte_base.html" %}

{% block title %}
    CatalogoSoportes
{% endblock %}

{% block content %}
    <h1>CatalogoSoportes</h1>
    <h2><a href={% url "a_publico:catalogo_soporte_create" %}>Crear  ahora CatalogoSoporte</a></h2>
    <ul>
    {% for catalogo_soporte in catalogo_soporte_list %}
        <li><a href={% url "a_publico:catalogo_soporte_detail" catalogo_soporte.pk %}>{{ catalogo_soporte }}</a> | <a href={% url "a_publico:catalogo_soporte_update" catalogo_soporte.pk %}>Actualizar</a> | <form style="display:inline;" action={% url "a_publico:catalogo_soporte_delete" catalogo_soporte.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ catalogo_soporte }}?')">{% csrf_token %}
    <input type="submit" value="Eliminar" />
    </form></li>
    {% empty %}
        <li>No CatalogoSoportes yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

