{% extends "a_publico/cuadro_mando_base.html" %}

{% block title %}
    CuadroMandos
{% endblock %}

{% block content %}
    <h1>CuadroMandos</h1>
    <h2><a href={% url "a_publico:cuadro_mando_create" %}>Create new CuadroMando</a></h2>
    <ul>
    {% for cuadro_mando in cuadro_mando_list %}
        <li><a href={% url "a_publico:cuadro_mando_detail" cuadro_mando.pk %}>{{ cuadro_mando }}</a> | <a href={% url "a_publico:cuadro_mando_update" cuadro_mando.pk %}>Update</a> | <form style="display:inline;" action={% url "a_publico:cuadro_mando_delete" cuadro_mando.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ cuadro_mando }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No CuadroMandos yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

