{% extends "a_publico/punto_luz_base.html" %}

{% block title %}
    {{ punto_luz }}
{% endblock %}

{% block content %}
    <h1><a href={% url "a_publico:punto_luz_list" %}>Puntos de Luz</a></h1>
    <h2>{{ punto_luz }} <a href={% url "a_publico:punto_luz_update" punto_luz.pk %} class="btn btn-success" >Actualizar</a> | 
    <form style="display:inline;" action={% url "a_publico:punto_luz_delete" punto_luz.pk %} method="post" onsubmit="return confirm('Realmente Deseas Eliminar {{ punto_luz }}?')">{% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Eliminar" />
    </form>
    </h2>
{% endblock %}
