{% extends "a_publico/punto_luz_base.html" %}

{% block title %}
    Update {{ punto_luz }}
{% endblock %}

{% block content %}
<h1><a href={% url "a_publico:punto_luz_list" %}>PuntoLuz</a></h1>
<h2>Update {{ punto_luz }}</h2>
<div class="row">
    <div class="col-8">
        <div id="map" style="height:400px; background-color: grey;"></div>
            
    </div>
    <div class="col-4">            
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-warning" value="Actualizar" />
        </form>
    </div>
</div>

<a href={% url "a_publico:punto_luz_detail" punto_luz.pk %} class="btn btn-primary" >Cancel</a>
<form style="display:inline;" action={% url "a_publico:punto_luz_delete" punto_luz.pk %} method="post" onsubmit="return confirm('Realmente Deseas Eliminar {{ punto_luz }}?')">{% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Eliminar" />
</form>
<script>
        function initialize() {
            lati = document.getElementById('id_lat').value;
            // alert(lati);
            longi = document.getElementById('id_lng').value;
            var myLatlng = new google.maps.LatLng(lati, longi);
                var mapOptions = {
                  center: myLatlng,
                  zoom: 14
                };
            var map = new google.maps.Map(document.getElementById("map"),
                mapOptions);
    
            var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: '',
                  draggable: true
            });
            google.maps.event.addListener(marker, 'position_changed', function() {
                window.setTimeout(function() {
                    $('#id_lat').val(marker.getPosition().lat());
                    $('#id_lng').val(marker.getPosition().lng());
                }, 100);
            });
        }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBE-H3YEkKAyBg5qUw5V-gY8AqADD5CEQ&callback=initialize" async defer></script>          
{% endblock %}
