{% extends "a_publico/via_publica_base.html" %}

{% block title %}
    {{ via_publica }}
{% endblock %}

{% block content %}
    <h1><a href={% url "a_publico:via_publica_list" %}>ViaPublica</a></h1>
    <h2>{{ via_publica }} | <a href={% url "a_publico:via_publica_update" via_publica.pk %}>Actualizar</a> | 
    <form style="display:inline;" action={% url "a_publico:via_publica_delete" via_publica.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ via_publica }}?')">{% csrf_token %}
    <input type="submit" value="Eliminar" />
    </form>
    </h2>
{% endblock %}
