{% extends "a_publico/via_publica_base.html" %}

{% block title %}
    ViaPublicas
{% endblock %}

{% block content %}
    <h1>Vias Publicas</h1>
    <h2><a href={% url "a_publico:via_publica_create" %} class="btn btn-primary">Crear  ahora ViaPublica</a></h2>
    
    <div class="row">
    {% for via_publica in via_publica_list %}
    <div class="col-sm-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <a  href={% url "a_publico:via_publica_detail" via_publica.pk %}>{{ via_publica }}</a>
                </div>
                <div class="card-footer bg-transparent">
                    <a href={% url "a_publico:via_publica_update" via_publica.pk %} class="btn btn-success" >Actualizar</a> |
                    <form style="display:inline;" action={% url "a_publico:via_publica_delete" via_publica.pk %} method="post" onsubmit="return confirm('Realmente Deseas Eliminar {{ via_publica }}?')">{% csrf_token %}
                        <input type="submit" class="btn btn-danger" class="btn btn-danger" value="Eliminar" />
                    </form>
                </div>
            </div>
    </div>
    {% empty %}
        <ul><li>No ViaPublicas yet.</li></ul>
    {% endfor %}
    
{% endblock %}

